{% extends "templates/consultations-template.twig" %}

{% block form %}

    <script>
        $(document).ready(function(){

            var consultationsDays = getConsultationsDays()
            var daysOff = getDaysOff();

            console.log(consultationsDays);
            console.log(daysOff);

            $('.datepicker').datepicker(
                {
                    disableDayFn: function(date){

                        for(var i = 0; i < consultationsDays.length; i++){
                            if(date.getDay() == consultationsDays[i]){
                                for(var j = 0; j < daysOff.length; j++){
                                    console.log("Podejscie: " + j + " " + date.toString() + "==" + new Date(daysOff[j]).toString());
                                    if(date.toString() == new Date(daysOff[j]).toString()){
                                        console.log("Return true");
                                        return true;
                                    }
                                }
                                console.log("Return false");
                                return false;
                            }
                        }

                        return true;
                    },

                    format: 'yyyy/mm/dd'
                }
            );

        });

        var getDaysOff = () => {
            var daysOffList = [];
            {% for day in daysOffList %}
                daysOffList.push('{{ day }}');
            {% endfor %}
            return daysOffList;
        }

        var getConsultationsDays = () => {
            var consultationsDays = [];
            {% for day in consultationsDaysList %}
                consultationsDays.push('{{ day }}')
            {% endfor %}
            return consultationsDays;
        }

    </script>

    <form action="{{ path_for('consultationsDatePage') }}" method="post" class='consultations-form consultations-date-picker'>
        <div class='row'>
            <div class='col s2 offset-s5' style="margin-bottom: 6em">
                <input placeholder='Wybierz datę' name="date" type="text"class="datepicker">
            </div>
        </div>
        <div class='row centerButton'>
            <div class='col s2 offset-s5'>
                <button class="btn waves-effect waves-light" type="submit" name="action">Dalej
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

{% endblock %}