{% extends "templates/main-template.twig" %}

{% block content %}
<div class='home-content'>
    <h1 class='home-header'>Witaj!</h1>
    <p class='home-paragraph'>
        Na naszej stronie umówisz się na konsultacje! Aby przejść do podstrony i umówić się na rozmowę, przejdź do zakładki umów konsultacje, aby zarządzać propozycjami konsultacji wysłanych przez uczniów należy zalogować się na konto administratora przechodząc do podstrony /login i przejść do zakładki zarządzaj konsultacjami.
    </p>
</div>
{% endblock %}