{% extends "templates/main-tmpl.twig" %}
{% block title %}Strona główna{% endblock %}
{% block content %}
    <div class='consultations-container'>
        <div class='row'>
            <div class='col s8 offset-s2'>
                <h1 class='consultations-header'>Umów konsultacje</h1>
            </div>
        </div>
        <div class='row'>
            <div class='col s3 offset-s3'>
                <p>Wybierz datę konsultacji</p>
            </div>
            <div class='col s3'>
                <input placeholder='Wybierz datę' type="text"class="datepicker" style='color: black'>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
    </script>
{% endblock %}