{% extends "templates/main-template.twig" %}

{% block content %}
<div class='login-container'>
    <div class='row'>
        <div class='col s8 offset-s2'>
            <h1 class='login-header'>Zaloguj się</h1>
        </div>
    </div>
    <form action="{{ path_for('loginPage') }}" method="post" class='login-form'>
        <div class='row'>
            <div class='col s4 offset-s4'>
                <div class="input-field">
                    <label for="login">Login</label>
                    <input class="input-field validate" id="login" name="login" type="text">
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col s4 offset-s4'>
                <div class="input-field">
                    <label for="password">Hasło</label>
                    <input class="validate input-field" id="password" name="password" type="password">
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col s4 offset-s4'>
                <button class="btn waves-effect waves-light" type="submit">Zaloguj
                </button>
            </div>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
    $(document).ready(function(){
        $('select').formSelect();
    });
    $(document).ready(function() {
        M.updateTextFields();
    });
</script>
{% endblock %}