$darker-green: #8AB34D
$darker-green-hover: #93bd53
$lighter-green: #CFFF87

$color2: #D9FFA1
$color4: #9B3BB3
$color5: #E787FF
    
body 
    background-color: $darker-green
    color: black

.content
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)

.nav-wrapper
    background-color: $lighter-green

.nav-ele, .brand-logo
    color: black !important

.home-content 
    background-color: $lighter-green
    text-align: justify
    position: absolute
    top: 50% !important
    left: 50% !important
    transform: translate(-50%, -50%) !important
    width: 35em
    border-radius: 10px

.home-header
    text-align: center

.home-paragraph
    margin-bottom: 2em
    padding-left: 1em
    padding-right: 1em

.consultations-container
    background-color: $lighter-green
    margin-top: 2em
    text-align: center

.consultations-header
    font-size: 3em

.consultations-form
    padding-bottom: 2em

//Date input style
.datepicker
    text-align: center
    border-bottom: 1px solid $darker-green !important
    &:hover
        cursor: pointer;

// Calendar font color
.datepicker-table
    color: black;

// Left side calendar color
.datepicker-date-display
    background-color: $darker-green

// Buttons and today font color
.datepicker-cancel, .is-today, .datepicker-clear, .datepicker-today, .datepicker-done
    color: $darker-green !important

// Select font color
.dropdown-content li>a, .dropdown-content li>span
    color: black
    &:hover
        background-color: $color2

// Selected day background color
.datepicker-table td.is-selected
    background-color: $darker-green

// Select input style
.select-wrapper input.select-dropdown
    text-align: center;
    border-bottom: 1px solid $darker-green
    color: black
    &:focus
        border-bottom: 1px solid $darker-green !important

// Disable select option style
.disabled>span, .selected
    color: rgba(0,0,0,0.3) !important
    background-color: #999
    &:hover
        background-color: transparent;
        cursor: default

// Input lebel style
label
    color: black !important

// Colors of inputs
#last_name, #first_name, #email, #textarea
    border-bottom: 1px solid $darker-green
    &:focus
        border-bottom: 1px solid $darker-green !important
        box-shadow: none !important

// Disable box-shadow after correct email
input[type=email]:not(.browser-default)
    box-shadow: none !important

.btn
    background-color: $darker-green
    &:hover
        background-color: $darker-green-hover;

#footer
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    background-color: $lighter-green
    color: black
    text-align: center

a
    color: $darker-green

.footer-link
    font-weight: 700

::placeholder
    color: black
    