body {
    background-color: #8AB34D;
    color: black;
}

.content {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-wrapper {
    background-color: #CFFF87;
}

.nav-ele, .brand-logo {
    color: black !important;
}

.home-content {
    background-color: #CFFF87;
    text-align: justify;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 35em;
}

.home-header {
    text-align: center;
}

.home-paragraph {
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.consultations-container, .login-container {
    background-color: #CFFF87;
    margin-top: 2em;
    text-align: center;
    height: 35em;
}

.consultations-header, .login-header {
    font-size: 3em;
}

.consultations-form, .login-form {
    padding-bottom: 2em;
    padding-top: 2em;
}

.consultations-date-picker{
    padding-top: 6em;
}

.datepicker {
    text-align: center;
    border-bottom: 1px solid #8AB34D !important;
}

.datepicker:hover {
    cursor: pointer;
}

.datepicker-table {
    color: black;
}

.datepicker-date-display {
    background-color: #8AB34D;
}

.datepicker-cancel, .is-today, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #8AB34D !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: black;
}

.dropdown-content li > a:hover, .dropdown-content li > span:hover {
    background-color: #D9FFA1;
}

.datepicker-table td.is-selected {
    background-color: #8AB34D;
}

.select-wrapper input.select-dropdown {
    text-align: left;
    border-bottom: 1px solid #8AB34D;
    color: black;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #8AB34D !important;
}

.disabled > span, .selected {
    color: rgba(0, 0, 0, 0.3) !important;
    background-color: #999;
}

.disabled > span:hover, .selected:hover {
    background-color: transparent;
    cursor: default;
}

label {
    color: black !important;
}

#last_name, #first_name, #email, #textarea, #login, #password {
    border-bottom: 1px solid #8AB34D;
}

#last_name:focus, #first_name:focus, #email:focus, #textarea:focus, #login:focus, #password:focus {
    border-bottom: 1px solid #8AB34D !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type=email]:not(.browser-default) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
    background-color: #8AB34D;
}

.btn:hover {
    background-color: #93bd53;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CFFF87;
    color: black;
    text-align: center;
}

a {
    color: #8AB34D;
}

.footer-link {
    font-weight: 700;
}

::-webkit-input-placeholder {
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: black;
}

::placeholder {
    color: black;
}

/*# sourceMappingURL=style.css.map */