{% extends "templates/main-template.twig" %}

{% block content %}
    <div class='consultations-container'>
        <div class='row'>
            <div class='col s8 offset-s2'>
                <h1 class='consultations-header'>Umów konsultacje</h1>
            </div>
        </div>
        {% block form %}
        {% endblock %}
    </div>
{% endblock content %}

{#{% extends "templates/main-template.twig" %}#}

{#{% block content %}#}
{#    <script>#}
{#        $(document).ready(function(){#}
{#            $('.datepicker').datepicker(#}
{#                {#}
{#                    disableDayFn: function(date){#}

{#                        let listDate = [new Date('2020,5,15').toDateString(),new Date('2020,5,5').toDateString()];#}

{#                        if(listDate.includes(date.toDateString())){#}
{#                            return false;#}
{#                        }else{#}
{#                            return true;#}
{#                        }#}
{#                    }#}
{#                }#}
{#            );#}
{#            $('select').formSelect();#}
{#            M.updateTextFields();#}
{#        });#}
{#    </script>#}

{#{% endblock content %}#}


